In [1]:
import pandas as pd
import numpy as np

In [2]:
#任務1：將列表轉化為Numpy數組
data0=[2,4,6,5,8]
arr0=np.array(data0)

In [ ]:
#任務2：新建pandas中的series數據類型，打印出其大小、索引值、值

In [3]:
#pandas中的series數據類型
s=pd.Series(data=[100,'a',{'dic1':5}],
            index=pd.Index(['id1',20,'third'],name='my_idx'),
            dtype='object',
            name='my_name')

In [4]:
s2=pd.Series(["1","2","3","4",])

In [5]:
s2.index.values

array([0, 1, 2, 3], dtype=int64)

In [6]:
type(s2.values[0])

str

In [7]:
s2.shape

(4,)

In [8]:
s2.size

4

In [9]:
d1={
    "作者":pd.Series(['余華','殘雪','莫言']),
     "作品":pd.Series(['活著','暗夜','紅高粱']),
     "價格":pd.Series([35,72,38]),
}
df2=pd.DataFrame(d1)

In [10]:
df2.index.values

array([0, 1, 2], dtype=int64)

In [11]:
df2.shape

(3, 3)

In [12]:
df2.size

9

In [13]:
df2['作品']

0     活著
1     暗夜
2    紅高粱
Name: 作品, dtype: object

In [15]:
df2[['價格','作品']]

   價格   作品
0  35   活著
1  72   暗夜
2  38  紅高粱